In [27]:
import pandas as pd

In [28]:
df_1900 = pd.read_csv('names\yob1900.txt', names=['Name', 'Gender','Count'])
df_1900_1 = df_1900.groupby(['Gender']).sum()
df_1900_1['Year'] = 1900
df_1950 = pd.read_csv('names\yob1950.txt', names=['Name', 'Gender','Count'])
df_1950_1 = df_1950.groupby(['Gender']).sum()
df_1950_1['Year'] = 1950
df_2000 = pd.read_csv('names\yob2000.txt', names=['Name', 'Gender','Count'])
df_2000_1 = df_2000.groupby(['Gender']).sum()
df_2000_1['Year'] = 2000

In [29]:
df_res = pd.concat([df_1900_1, df_1950_1, df_2000_1])
df_res

          Count  Year
Gender
F        299798  1900
M        150480  1900
F       1713065  1950
M       1790437  1950
F       1815295  2000
M       1963202  2000