In [1]:
import pandas as pd

In [2]:
def dataframes(qwerty):
    df_res_list = []
    for list_1 in qwerty[0]:
        df = pd.read_csv(f'names\\yob{list_1}.txt', names=['Name', 'Gender', 'Count'])
        df_1 = df.groupby(['Gender']).sum()
        df_1['Year'] = list_1
        df_res_list.append(df_1)
    df_res = pd.concat(df_res_list)
    print(df_res)


lists_of_years = []
years = input('> ')
lists_of_years.append(years.split(", "))
dataframes(lists_of_years)

> 1900, 1950, 2000
          Count  Year
Gender
F        299798  1900
M        150480  1900
F       1713065  1950
M       1790437  1950
F       1815295  2000
M       1963202  2000